.section {

    margin: 50px 0;

    .title {
        width: 75%;
        margin: 0 auto;
    }

    .wrapper-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 70%;
        margin: 25px auto;
        padding: 20px;

        select {
            width: 80%;
        }
    
        .wrapper-actions {
            display: inline-block;
            margin-left: 25px;
        }
    }

    .wrapper-button {
        width: 70%;
        margin: 0 auto;

        button {
            margin-right: 20px;
        }
    }
}